In [22]:
import pandas as pd
import certifi
import json
from urllib.request import urlopen
import time

def get_jsonparsed_data(url):
    response = urlopen(url, cafile=certifi.where())
    data = response.read().decode("utf-8")
    return json.loads(data)

In [10]:
url = ("https://financialmodelingprep.com/api/v3/stock-price-change/AAPL?apikey=PHaANSXTwW2zC5hpGFO1uhe8EkPXgio7")
data = get_jsonparsed_data(url)
data[0]

/var/folders/5b/7p94plr1181b0bb51jqmd9xh0000gn/T/ipykernel_11007/319399920.py:7: DeprecationWarning: cafile, capath and cadefault are deprecated, use a custom context instead.
  response = urlopen(url, cafile=certifi.where())

{'symbol': 'AAPL',
 '1D': 0.6298,
 '5D': 2.10708,
 '1M': 3.6284,
 '3M': 5.42553,
 '6M': 43.32121,
 'ytd': 27.38634,
 '1Y': 36.69364,
 '3Y': 58.20177,
 '5Y': 293.28122,
 '10Y': 823.02888,
 'max': 184146.20179}

In [6]:
roce_df = pd.read_csv("stock_financials/ROCE_Ratios_recent.csv")
roce_df.drop_duplicates(subset='ticker', inplace=True)
tickers = list(roce_df['ticker'])

In [23]:
main_df = pd.DataFrame()

for ticks in tickers:


    url = (f"https://financialmodelingprep.com/api/v3/stock-price-change/{ticks}?apikey=PHaANSXTwW2zC5hpGFO1uhe8EkPXgio7")
    data = get_jsonparsed_data(url)

    dict = {'ticker' : [],
                '1Y' : [],
                '5Y' : []}
    
    symbol = data[0]['symbol']
    y1 = data[0]['1Y']
    y5 = data[0]['5Y']
  
    
    dict['ticker'].append(symbol)
    dict['1Y'].append(y1)
    dict['5Y'].append(y5)

    df = pd.DataFrame(dict)
    main_df = pd.concat([main_df, df])
    time.sleep(0.05)

/var/folders/5b/7p94plr1181b0bb51jqmd9xh0000gn/T/ipykernel_11007/441479223.py:8: DeprecationWarning: cafile, capath and cadefault are deprecated, use a custom context instead.
  response = urlopen(url, cafile=certifi.where())

In [26]:
main_df.to_csv("Tickers_1_5_Y_retrun.csv")

In [27]:
main_df

   ticker        1Y         5Y
0       A  25.07774   81.18707
0    AAPL  36.69364  293.28122
0    ABBV  28.88827  141.31953
0    ABNB  13.95465   -5.19660
0     ABT  22.14450   43.28230
..    ...       ...        ...
0    ZURA  -2.02840  -33.28729
0    ZVRA  99.06760   -4.68750
0     ZWS  44.64496  176.38681
0    ZYME  88.14286  -56.76297
0    ZYXI  14.81481  -15.37676

[2477 rows x 3 columns]

In [29]:
stock_scores = pd.read_csv('stock_scores/stock_score_data_recent.csv')
stock_scores

,Unnamed: 0.1,Unnamed: 0,ticker,2014,2015,2016,2017,2018,2019,2020,...,2024,roce_rank,coef,r_squared,std,coef_w,coef_rank,std_rank,average_score,final_rank
0,0,0,A,0.091653,0.080499,0.093327,0.120946,0.126015,0.125188,0.106420,...,0.122353,253.0,0.006903,0.532734,0.029907,0.003677,257.0,613.0,103.066667,28.0
1,1,0,AAPL,0.310000,0.356523,0.264343,0.237142,0.260334,0.260153,0.291111,...,0.441290,17.0,0.025365,0.493695,0.114159,0.012523,105.0,1695.0,105.700000,30.0
2,2,0,ABBV,0.156615,0.242364,0.177018,0.173030,0.121957,0.270983,0.110972,...,0.078632,481.0,-0.008089,0.235964,0.052661,-0.001909,1322.0,1035.0,342.216667,1006.0
3,3,0,ABNB,NaN,NaN,NaN,NaN,NaN,-0.106600,-0.539270,...,0.057083,697.0,NaN,NaN,0.250437,NaN,NaN,2115.0,NaN,NaN
4,4,0,ABT,0.088426,0.085910,0.092338,0.026348,0.061590,0.077944,0.090715,...,0.053886,742.0,0.003132,0.092414,0.032576,0.000289,533.0,668.0,205.316667,314.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2472,2472,0,ZURA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.177943,2191.0,NaN,NaN,0.591201,NaN,NaN,2295.0,NaN,NaN
2473,2473,0,ZVRA,-1.007231,-0.675935,-0.416832,-0.617408,-45.365815,1.976577,-0.841119,...,-0.377587,2371.0,0.462732,0.012680,12.994823,0.005867,194.0,2439.0,394.616667,1283.0
2474,2474,0,ZWS,0.083706,0.065220,0.047430,0.078254,0.065488,0.112045,0.090000,...,0.054171,733.0,0.001683,0.063733,0.021079,0.000107,600.0,445.0,205.550000,316.0
2475,2475,0,ZYME,NaN,-0.432725,-0.262588,-0.273006,-0.296454,-0.502186,-0.377339,...,-0.131620,2119.0,NaN,NaN,0.151830,NaN,NaN,1886.0,NaN,NaN
2476,2476,0,ZYXI,-6.285582,0.949069,-0.184761,0.587296,1.267588,0.585143,0.284086,...,0.026496,1193.0,0.252159,0.164565,1.965645,0.041497,28.0,2388.0,243.833333,478.0

In [30]:
stock_scores = stock_scores.merge(main_df, left_on='ticker', right_on='ticker')

In [33]:
stock_scores.head()

,Unnamed: 0.1,Unnamed: 0,ticker,2014,2015,2016,2017,2018,2019,2020,...,coef,r_squared,std,coef_w,coef_rank,std_rank,average_score,final_rank,1Y,5Y
0,0,0,A,0.091653,0.080499,0.093327,0.120946,0.126015,0.125188,0.106420,...,0.006903,0.532734,0.029907,0.003677,257.0,613.0,103.066667,28.0,25.07774,81.18707
1,1,0,AAPL,0.310000,0.356523,0.264343,0.237142,0.260334,0.260153,0.291111,...,0.025365,0.493695,0.114159,0.012523,105.0,1695.0,105.700000,30.0,36.69364,293.28122
2,2,0,ABBV,0.156615,0.242364,0.177018,0.173030,0.121957,0.270983,0.110972,...,-0.008089,0.235964,0.052661,-0.001909,1322.0,1035.0,342.216667,1006.0,28.88827,141.31953
3,3,0,ABNB,NaN,NaN,NaN,NaN,NaN,-0.106600,-0.539270,...,NaN,NaN,0.250437,NaN,NaN,2115.0,NaN,NaN,13.95465,-5.19660
4,4,0,ABT,0.088426,0.085910,0.092338,0.026348,0.061590,0.077944,0.090715,...,0.003132,0.092414,0.032576,0.000289,533.0,668.0,205.316667,314.0,22.14450,43.28230

In [34]:
stock_scores.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'ticker', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021', '2022', '2023', '2024', 'roce_rank',
       'coef', 'r_squared', 'std', 'coef_w', 'coef_rank', 'std_rank',
       'average_score', 'final_rank', '1Y', '5Y'],
      dtype='object')

In [36]:
small_df = stock_scores[['ticker', 'coef_rank', 'std_rank', 'roce_rank', '1Y', '5Y']]

In [38]:
small_df.head()

  ticker  coef_rank  std_rank  roce_rank        1Y         5Y
0      A      257.0     613.0      253.0  25.07774   81.18707
1   AAPL      105.0    1695.0       17.0  36.69364  293.28122
2   ABBV     1322.0    1035.0      481.0  28.88827  141.31953
3   ABNB        NaN    2115.0      697.0  13.95465   -5.19660
4    ABT      533.0     668.0      742.0  22.14450   43.28230

In [41]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
import numpy as np

In [66]:
def cal_coef(X,y):
    """Function to calculate coefficients or w or theta or b0 & b1"""
    coeffs = np.dot(np.linalg.inv(np.dot(X.T,X)),np.dot(X.T,y)) #
    
    #Similar way to calculate coeffs
    # coeffs = np.linalg.inv(X.T.dot(X)).dot(X.T).dot(y)
    return coeffs
  
def predict_normeq(new_x,coeffs):
    """Function to predict linear regression using normal equation"""
    
    new_y = np.dot(new_x, coeffs)
    return new_y

small_df = small_df.dropna()

X = np.column_stack([np.ones(len(small_df), dtype=np.float32),small_df[['coef_rank', 'roce_rank']]])
y = small_df['5Y']
    

coeffs = cal_coef(X,y) # b0-intercept, b1-slope
slope = coeffs[1]
normeq_preds = predict_normeq(X,coeffs)

    ## Model Evaluation
SSE = sum((y-normeq_preds)**2) # Sum of squared error
SST = sum((y-np.mean(y))**2) # Sum of squared total
R_squared = 1-(SSE/SST) # R Square

std = np.std(y)

In [67]:
coeffs[1:] / sum(coeffs[1:])

array([0.62966231, 0.37033769])

In [65]:
R_squared

0.005298071437029428

In [ ]:
reg_results['ticker'].append(i)
reg_results['coef'].append(slope)
reg_results['r_squared'].append(R_squared)
reg_results['std'].append(std)